@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebAdvert.Web.Models.Accounts.MfaLoginModel

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Accounts" asp-action="MfaLogin">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MfaCode"></label>
                <input asp-for="MfaCode" class="form-control" />
                <span asp-validation-for="MfaCode" class="text-danger"></span>
            </div>

            <button type="submit">Login</button>
        </form>
    </div>
</div>
